
<link rel="stylesheet" type="text/css" href="https://voxox.com/voxdirect/css/normalize.css">
<link rel="stylesheet" type="text/css" href="https://voxox.com/voxdirect/css/webflow2.css">
<link rel="stylesheet" type="text/css" href="https://voxox.com/voxdirect/css/custom-webflow2.css">
<!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
<script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-145506713-1"></script>
<script type="text/javascript">window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-145506713-1', {'anonymize_ip': false});</script>
<script>document.domain="voxdirect.com";</script>




<style>

/* -------- GLOBAL FIXES HERE ------------- */
  
.tippy-tooltip {
    background: #252D35;
}
  

#backoffice-wrapper .container {
   width: 100% !important;
   padding: 0 !important;
   margin: 0 !important;
}

.module_title {
    display: none;
}

#breadcrumbs {
    display: none;
}

tbody  .col-lg-12 {
    padding: 0!important;
}

tbody #module-wrapper {
    margin: 0 !important;
}

.vox-footer {
    min-height: 284px;
    POSITION: RELATIVE;
    Z-INDEX: 5000;
    MARGIN-TOP: 0PX;
    TOP: -26PX;
}

.footer-items {
  text-align: center;
  margin: auto;
}

.foot-item {
  display: inline-block;
  padding: 10px 14px;
  color: white !important;
}

.foot-item a {
  color: white;
}

ul.vox-social {
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}

div.left-navbar {
    display: none !important;
}

[class*=span-], [class^=space-] {
    float: none;
}

.w-form-done, .w-form-fail {
    display: none;
}

div#mod-buttons {
    display: none;
}

#module-wrapper>div {
    padding-left: 0;
    padding-right: 0;
}

#module-wrapper{
  margin: 0;
}

.mod_content {
    font-family: "raleway";
}

html form#aspnetForm:after {
    height: 0;
}

.copyright{
  float: none;
  text-align: center;
}

.vox-footer{
  display: none;
}

#dvLayout .left-menu+div, #module-body>table, #module-body>table>tbody, #module-body>table>tbody>tr, #module-body>table>tbody>tr>td, #tblLayout, #tblLayout>tbody, #tblLayout>tbody>tr, #tblLayout>tbody>tr>td, #tblLayout>tbody>tr>td>table, #tblLayout>tbody>tr>td>table>tbody, #tblLayout>tbody>tr>td>table>tbody>tr, #tblLayout>tbody>tr>td>table>tbody>tr>td, #tblLayout>tbody>tr>td>table>tbody>tr>td>table, #tblLayout>tbody>tr>td>table>tbody>tr>td>table>tbody, #tblLayout>tbody>tr>td>table>tbody>tr>td>table>tbody>tr, #tblLayout>tbody>tr>td>table>tbody>tr>td>table>tbody>tr>td, [id*=moduleContainer], [id*=moduleContainer]>tbody, [id*=moduleContainer]>tbody>tr, [id*=moduleContainer]>tbody>tr>td, table[id$=wzd], table[id$=wzd]>tbody, table[id$=wzd]>tbody>tr, table[id$=wzd]>tbody>tr>td{
  float: none !important;
}

@media (max-width: 991px){
  section#module-wrapper {
    padding: 0 !important;
  }
}

/*    --------  --------  --------  */

/* -------- PAGE SPECIFIC CSS HERE ------------- */



/*    --------  --------  --------  */

</style>

<div id="wf">
  
<!-- -------- WEBFLOW HTML UNDER HERE ------------- -->


<body>
  <div class="section-15">
    <div class="div-block-103">
      <h1 class="white _4">THE TEAM BEHIND VOX DIRECT</h1>
      <h1 class="white _3">We Love<br>Small Business</h1>
    </div>
  </div>
  <div class="section-16">
    <div class="div-block-118"><img src="https://voxox.com/voxdirect/images/sec2-bg.png" alt="" class="image-30">
      <div class="div-block-119"></div>
    </div>
    <div class="custom-cont padding">
      <div class="div-block-116">
        <div class="div-block-104">
          <p class="paragraph-9">When you meet the brothers behind Vox Direct, you&#x27;ll discover an unlikely mix of business and technology talent. You&#x27;ll quickly realize what they have in common: a heartfelt love for the small business world.</p>
          <p>That&#x27;s what drove them to join forces and launch Vox Direct with its cutting-edge tools for small business communications. And it&#x27;s the reason they chose social selling, so they could empower as many budding entrepreneurs as possible.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section-17">
    <div class="custom-cont padding _3">
      <div class="div-block-106"><img src="https://voxox.com/voxdirect/images/vox-hand.png" alt="" class="image-29"></div>
      <div class="div-block-105">
        <h3 class="heading-22">Leadership Matters</h3>
        <p class="p-white">If you&#x27;re choosing tools to grow your small business, you want to be sure that the people behind them understand your needs. So it&#x27;s good news that Vox Direct&#x27;s products were designed to meet the real-world needs of the company&#x27;s founders.</p>
        <p class="p-white">And if you&#x27;re thinking of becoming a Vox Direct Communications Consultant, you&#x27;ll want to know about the founders. You&#x27;ll be happy when you see they have the experience, the skills and above all the values that you can trust for the long haul. With the Vox Direct executive team, you can rest assured. Just take a look at their bios:</p>
      </div>
    </div>
  </div>
  <div class="section-19">
    <div class="custom-cont padding">
      <div class="div-block-109">
        <div class="div-block-107"><img src="https://voxox.com/voxdirect/images/bryan-hertz.png" alt="" class="image-27">
          <div class="div-block-108">
            <h3 class="heading-23">BRYAN HERTZ<br><span class="text-span-10">CEO &amp; CO-FOUNDER</span></h3>
            <p class="paragraph-8">Bryan is a successful entrepreneur, bringing more than 20 years of experience in building companies and management teams, raising capital and driving technology innovation for Fortune 500 banks, insurance companies and data processing facilities. Bryan entered the telecom industry in 2006 and created Voxox to fulfill his vision to unify personal and business communications on a global basis. Today award-winning Voxox solutions, like Vox Direct, are used in over 200 countries by consumers and businesses.</p>
          </div>
        </div>
        <div class="div-block-107"><img src="https://voxox.com/voxdirect/images/kevin-hertz.png" alt="" class="image-27">
          <div class="div-block-108">
            <h3 class="heading-23">KEVIN HERTZ<br><span class="text-span-11">CTO &amp; CO-FOUNDER</span></h3>
            <p class="paragraph-8">Kevin is a talented technologist who is constantly innovating at the forefront of telecommunications and IP technology. He has designed and implemented a highly scalable, large capacity, flexible and fully redundant global communications network that perpetually maintains a 99.99% uptime. With more than a decade of experience in technology development and advanced network architectures, Kevin&#x27;s expertise and accomplishments has made him a pioneer in cloud communications technology.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-18">
    <div class="div-block-114"><img src="https://voxox.com/voxdirect/images/hand-phone.png" alt="" class="image-28">
      <div class="div-block-117"></div>
    </div>
    <div class="custom-cont padding">
      <div class="div-block-115">
        <div class="div-block-113">
          <div class="div-block-110">
            <div class="q1"><img src="https://voxox.com/voxdirect/images/upper-quote.png" alt=""></div>
            <div class="div-block-111">
              <h4 class="blue h4">As CEO Bryan Hertz puts it:</h4>
              <p class="blue">We&#x27;re here for a purpose, and that purpose is your success-whether you&#x27;re a small business owner looking for more, or a Vox Direct Communications Consultant pursuing a new income. Or both. Here&#x27;s what we know: if you do well, we do well. And that&#x27;s the outlook we foster throughout our organization, because<br>we love small business. So come join our grand adventure. And let&#x27;s grow... together!</p>
            </div>
            <div class="q2"><img src="https://voxox.com/voxdirect/images/lower-quote.png" alt=""></div>
          </div>
          <div class="div-block-112">
            <a href="/pricing" class="orange-btn blue-btn top link-block w-inline-block">
              <div class="text-block">Get Started Now</div><img src="https://voxox.com/voxdirect/images/blue-arrow.svg" alt="" class="image-5"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


<!--  --------  --------  --------  -->

<!--  -------- FOOTER HERE -------------  -->
  <div style ="background-color: #999; padding: 50px 0; margin-bottom: -10px;">
    <div class="flex-container">
      <div class="layer-flex">
        <ul class="vox-social">
          <li><a href="//www.facebook.com/VoxDirect/"><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="//twitter.com/VoxDirect"><i class="fab fa-twitter"></i></a></li>
          <li><a href="//www.instagram.com/voxdirect/"><i class="fab fa-instagram"></i></a></li>
          <li><a href="//www.youtube.com/channel/UC40n6EZ6r2I3fOZVDv3CbFA  "><i class="fab fa-youtube"></i></a></li>
          <li><a href="//www.linkedin.com/company/36016246"><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="layer-flex">
        <div class="footer-items">
          <div class="foot-item"><a href="mailto:contact@voxdirect.com">Contact Us</a></div>
          <div class="foot-item"><a href="/Public-Privacy-Policy/">Privacy Policy</a></div>
          <div class="last foot-item"><a href="/Public-Terms-and-Conditions/">Terms and Conditions</a></div>
        </div>
      </div>
      <span id="ctl00_copyright_lblCopyright" class="copyright">Copyright © Vox Direct, LLC - All Rights Reserved</span></div>
    </div>
  </div>

<!--     -------- CLOSING BRACKET  --------   -->
</div>
