<link rel="stylesheet" type="text/css" href="https://voxox.com/voxdirect/css/normalize.css">
<link rel="stylesheet" type="text/css" href="https://voxox.com/voxdirect/css/webflow2.css">
<link rel="stylesheet" type="text/css" href="https://voxox.com/voxdirect/css/custom-webflow3.css">
<!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
<script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-145506713-1"></script>
<script type="text/javascript">window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-145506713-1', {'anonymize_ip': false});</script>
<script>document.domain="voxdirect.com";</script>


<style>

.tippy-tooltip {
    background: #252D35;
}


#backoffice-wrapper .container {
   width: 100% !important;
   padding: 0 !important;
   margin: 0 !important;
}

.module_title {
    display: none;
}

#breadcrumbs {
    display: none;
}

tbody  .col-lg-12 {
    padding: 0!important;
}

tbody #module-wrapper {
    margin: 0 !important;
}

.vox-footer {
    min-height: 284px;
    POSITION: RELATIVE;
    Z-INDEX: 5000;
    MARGIN-TOP: 0PX;
    TOP: -26PX;
}

.footer-items {
  text-align: center;
  margin: auto;
}

.foot-item {
  display: inline-block;
  padding: 10px 14px;
  color: white !important;
}

.foot-item a {
  color: white;
}

ul.vox-social {
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}


div.left-navbar {
    display: none !important;
}

[class*=span-], [class^=space-] {
    float: none;
}

.w-form-done, .w-form-fail {
    display: none;
}

div#mod-buttons {
    display: none;
}

#module-wrapper>div {
    padding-left: 0;
    padding-right: 0;
}


#module-wrapper{
  margin: 0;
}

.mod_content {
    font-family: "raleway";
}

html form#aspnetForm:after {
    height: 0;
    margin: -26px;
}

.copyright{
  float: none;
  text-align: center;
}

.vox-footer{
  display: none;
}

#dvLayout .left-menu+div, #module-body>table, #module-body>table>tbody, #module-body>table>tbody>tr, #module-body>table>tbody>tr>td, #tblLayout, #tblLayout>tbody, #tblLayout>tbody>tr, #tblLayout>tbody>tr>td, #tblLayout>tbody>tr>td>table, #tblLayout>tbody>tr>td>table>tbody, #tblLayout>tbody>tr>td>table>tbody>tr, #tblLayout>tbody>tr>td>table>tbody>tr>td, #tblLayout>tbody>tr>td>table>tbody>tr>td>table, #tblLayout>tbody>tr>td>table>tbody>tr>td>table>tbody, #tblLayout>tbody>tr>td>table>tbody>tr>td>table>tbody>tr, #tblLayout>tbody>tr>td>table>tbody>tr>td>table>tbody>tr>td, [id*=moduleContainer], [id*=moduleContainer]>tbody, [id*=moduleContainer]>tbody>tr, [id*=moduleContainer]>tbody>tr>td, table[id$=wzd], table[id$=wzd]>tbody, table[id$=wzd]>tbody>tr, table[id$=wzd]>tbody>tr>td{
  float: none !important;
}

@media (max-width: 991px){
  section#module-wrapper {
    padding: 0 !important;
  }
}


/* -------- PAGE SPECIFIC FIXES HERE ------------- */
#wf .div-block-87 {
    margin-bottom: -84%;
}

#wf .heading-20 {
    min-height: 32px;
}

#wf .t-form label.w-radio span{
  padding-left: 8px;
}

label.radio-button-field input:focus {
  box-shadow: none !important;
}

#wf input[type=checkbox] {
    line-height: normal;
    font-size: 20px;
    margin-top: -3px;
}

@media screen and (min-width: 992px){
  #wf .div-block-80{
    flex: 1 0 137px;
  }  
}

@media (max-width: 991px){
  #wf .section-13 {
    margin-bottom: 520px;
    }
    
  #wf .section-13 {
      margin-bottom: 640px;
  }
  
  #wf .heading-20 {
    height: 46px;
  }      
}

@media (max-width: 767px){

  #wf .purple._2{
    margin-bottom: 5px;
  }
}

@media (max-width: 479px){
  #wf .heading-20 {
    height: 35px;
  }
}


/*    --------  --------  --------  */

  
/* -------- WEBFLOW CSS UNDER HERE ------------- */

/*    --------  --------  --------  */

</style>

<div id="wf">
  
<!-- -------- WEBFLOW HTML UNDER HERE ------------- -->

<!-- <html data-wf-page="5de1d17b5f1762c28e2dbaec" data-wf-site="5d4c7835e11fbe0a7b650391"> -->
<body class="body-5">
  <div class="div-block-74">
    <div class="div-block-75">
      <h3 class="heading-16">ATTRACT AND KEEP MORE CUSTOMERS</h3>
      <h1 class="heading-15">Power Up Your Business</h1>
      <div class="div-block-76">
        <a href="https://www.youtube.com/watch?v=i7XsEzL6GA8&amp;feature=youtu.be" target="_blank" class="orange-btn white-btn _2 w-inline-block">
          <div class="text-block">see how it works</div><img src="https://voxox.com/voxdirect/images/white-arrow.svg" alt="" class="image-5 _2"></a>
      </div>
      <div class="div-block-82">
        <a href="/pricing" class="orange-btn white-btn _2 w-inline-block">
          <div class="text-block">get your business phone number</div><img src="https://voxox.com/voxdirect/images/white-arrow.svg" alt="" class="image-5 _2"></a>
      </div>
    </div>
  </div>
  <div class="section-6">
    <div class="custom-cont padding">
      <div class="div-block-57 _2">
        <div class="div-block-77">
          <div class="div-block-102">
            <h3 class="heading-17">TAKE THE<br>CONNECTION TEST</h3>
            <p class="paragraph-5">Is your communications setup giving your business the image it deserves? Take this 30 second quiz to find out. The results might surprise you...</p>
          </div><img src="https://voxox.com/voxdirect/images/featured-man.png" alt="" class="image-26"></div>
        <div class="div-block-78">
          <h4 class="purple _3">Do a quick audit of your customer contact with this short checklist:</h4>
          <div>
            <div class="div-block-79">
              <p class="paragraph-4">Do you have a business number separate from your home number?</p>
              <div class="div-block-80">
                <div class="div-block-81">
                  <div class="form-block w-form">
                    <form id="form1" class="form t-form">
                      <label class="radio-button-field _2 w-radio" for="radio1">
                        <input type="radio" data-name="Radifewfewo" id="radio1" name="Radifewfewo" value="Radio" style="">
                        <span class="radio-button-label w-form-label">Yes</span>
                      </label>
                      <label class="radio-button-field w-radio" for="radio2">
                        <input type="radio" data-name="Radifewfewo" id="radio2" name="Radifewfewo" value="Radio" style="">
                        <span class="radio-button-label w-form-label">No</span>
                      </label>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="div-block-79 purple">
              <p class="paragraph-4 purple">Do you have an easy to remember toll-free number?</p>
              <div class="div-block-80">
                <div class="div-block-81">
                  <div class="form-block w-form">
                    <form id="form2" class="form t-form">
                      <label class="radio-button-field _2 w-radio purple" for="radio3">
                        <input type="radio" data-name="Radifewfewo2" id="radio3" name="Radifewfewo2" value="Radio" style="">
                        <span class="radio-button-label w-form-label purple">Yes</span>
                      </label>
                      <label class="radio-button-field w-radio purple" for="radio4">
                        <input type="radio" data-name="Radifewfewo2" id="radio4" name="Radifewfewo2" value="Radio" style="">
                        <span class="radio-button-label w-form-label purple">No</span>
                      </label>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="div-block-79">
              <p class="paragraph-4">Can your customers reach you by phone, text or fax, on the same number?</p>
              <div class="div-block-80">
                <div class="div-block-81">
                  <div class="form-block w-form">
                    <form id="form3" class="form t-form">
                      <label class="radio-button-field _2 w-radio" for="radio5">
                        <input type="radio" data-name="Radifewfewo3" id="radio5" name="Radifewfewo3" value="Radio" style="">
                        <span class="radio-button-label w-form-label">Yes</span>
                      </label>
                      <label class="radio-button-field w-radio" for="radio6">
                        <input type="radio" data-name="Radifewfewo3" id="radio6" name="Radifewfewo3" value="Radio" style="">
                        <span class="radio-button-label w-form-label">No</span>
                      </label>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="div-block-79 purple">
              <p class="paragraph-4 purple">Can you text message hundreds or thousands of prospects at once?</p>
              <div class="div-block-80">
                <div class="div-block-81">
                  <div class="form-block w-form">
                    <form id="form4" class="form t-form">
                      <label class="radio-button-field _2 w-radio purple" for="radio7">
                        <input type="radio" data-name="Radifewfewo4" id="radio7" name="Radifewfewo4" value="Radio" style="">
                        <span class="radio-button-label w-form-label purple">Yes</span>
                      </label>
                      <label class="radio-button-field w-radio purple" for="radio8">
                        <input type="radio" data-name="Radifewfewo4" id="radio8" name="Radifewfewo4" value="Radio" style="">
                        <span class="radio-button-label w-form-label purple">No</span>
                      </label>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="div-block-79">
              <p class="paragraph-4">Can your customers text your business number, even if it&#x27;s a toll-free number?</p>
              <div class="div-block-80">
                <div class="div-block-81">
                  <div class="form-block w-form">
                    <form id="form5" class="form t-form">
                      <label class="radio-button-field _2 w-radio" for="radio9">
                        <input type="radio" data-name="Radifewfewo5" id="radio9" name="Radifewfewo5" value="Radio" style="">
                        <span class="radio-button-label w-form-label">Yes</span>
                      </label>
                      <label class="radio-button-field w-radio" for="radio10">
                        <input type="radio" data-name="Radifewfewo5" id="radio10" name="Radifewfewo5" value="Radio" style="">
                        <span class="radio-button-label w-form-label">No</span>
                      </label>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="div-block-79 purple">
              <p class="paragraph-4 purple">Do your customers hear a professional receptionist when they call, with a choice of extensions to choose from?</p>
              <div class="div-block-80">
                <div class="div-block-81">
                  <div class="form-block w-form">
                    <form id="form6" class="form t-form">
                      <label class="radio-button-field _2 w-radio purple" for="radio11">
                        <input type="radio" data-name="Radifewfewo6" id="radio11" name="Radifewfewo6" value="Radio" style="">
                        <span class="radio-button-label w-form-label purple">Yes</span>
                      </label>
                      <label class="radio-button-field w-radio purple" for="radio12">
                        <input type="radio" data-name="Radifewfewo6" id="radio12" name="Radifewfewo6" value="Radio" style="">
                        <span class="radio-button-label w-form-label purple">No</span>
                      </label>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="div-block-79">
              <p class="paragraph-4">Do you have local numbers in all the area codes you do business in?</p>
              <div class="div-block-80">
                <div class="div-block-81">
                  <div class="form-block w-form">
                    <form id="form7" class="form t-form">
                      <label class="radio-button-field _2 w-radio" for="radio13">
                        <input type="radio" data-name="Radifewfewo7" id="radio13" name="Radifewfewo7" value="Radio" style="">
                        <span class="radio-button-label w-form-label">Yes</span>
                      </label>
                      <label class="radio-button-field w-radio" for="radio14">
                        <input type="radio" data-name="Radifewfewo7" id="radio14" name="Radifewfewo7" value="Radio" style="">
                        <span class="radio-button-label w-form-label">No</span>
                      </label>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="div-block-79 purple">
              <p class="paragraph-4 purple">Do you have a professional studio-recorded greeting?</p>
              <div class="div-block-80">
                <div class="div-block-81">
                  <div class="form-block w-form">
                    <form id="form8" class="form t-form">
                      <label class="radio-button-field _2 w-radio purple" for="radio15">
                        <input type="radio" data-name="Radifewfewo8" id="radio15" name="Radifewfewo8" value="Radio" style="">
                        <span class="radio-button-label w-form-label purple">Yes</span>
                      </label>
                      <label class="radio-button-field w-radio purple" for="radio16">
                        <input type="radio" data-name="Radifewfewo8" id="radio16" name="Radifewfewo8" value="Radio" style="">
                        <span class="radio-button-label w-form-label purple">No</span>
                      </label>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="div-block-79">
              <p class="paragraph-4">Do calls and texts from customers get routed to any phone you choose, so you’re always in reach?</p>
              <div class="div-block-80">
                <div class="div-block-81">
                  <div class="form-block w-form">
                    <form id="form9" class="form t-form">
                      <label class="radio-button-field _2 w-radio" for="radio17">
                        <input type="radio" data-name="Radifewfewo9" id="radio17" name="Radifewfewo9" value="Radio" style="">
                        <span class="radio-button-label w-form-label">Yes</span>
                      </label>
                      <label class="radio-button-field w-radio" for="radio18">
                        <input type="radio" data-name="Radifewfewo9" id="radio18" name="Radifewfewo9" value="Radio" style="">
                        <span class="radio-button-label w-form-label">No</span>
                      </label>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="div-block-79 purple">
              <p class="paragraph-4 purple">Do you have a system that automatically texts new customers and prospects?</p>
              <div class="div-block-80">
                <div class="div-block-81">
                  <div class="form-block w-form">
                    <form id="form10" class="form t-form">
                      <label class="radio-button-field _2 w-radio purple" for="radio19">
                        <input type="radio" data-name="Radifewfewo10" id="radio19" name="Radifewfewo10" value="Radio" style="">
                        <span class="radio-button-label w-form-label purple">Yes</span>
                      </label>
                      <label class="radio-button-field w-radio purple" for="radio20">
                        <input type="radio" data-name="Radifewfewo10" id="radio20" name="Radifewfewo10" value="Radio" style="">
                        <span class="radio-button-label w-form-label purple">No</span>
                      </label>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="div-block-79">
              <p class="paragraph-4">Do you get an instant written transcript of every voicemail?</p>
              <div class="div-block-80">
                <div class="div-block-81">
                  <div class="form-block w-form">
                    <form id="form11" class="form t-form">
                      <label class="radio-button-field _2 w-radio" for="radio21">
                        <input type="radio" data-name="Radifewfewo11" id="radio21" name="Radifewfewo11" value="Radio" style="">
                        <span class="radio-button-label w-form-label">Yes</span>
                      </label>
                      <label class="radio-button-field w-radio" for="radio22">
                        <input type="radio" data-name="Radifewfewo11" id="radio22" name="Radifewfewo11" value="Radio" style="">
                        <span class="radio-button-label w-form-label">No</span>
                      </label>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="div-block-79 purple">
              <p class="paragraph-4 purple">Can you do all this (&amp; more) on your mobile phone, anywhere in the world?</p>
              <div class="div-block-80">
                <div class="div-block-81">
                  <div class="form-block w-form">
                    <form id="form12" class="form t-form">
                      <label class="radio-button-field _2 w-radio purple" for="radio23">
                        <input type="radio" data-name="Radifewfewo12" id="radio23" name="Radifewfewo12" value="Radio" style="">
                        <span class="radio-button-label w-form-label purple">Yes</span>
                      </label>
                      <label class="radio-button-field w-radio purple" for="radio24">
                        <input type="radio" data-name="Radifewfewo12" id="radio24" name="Radifewfewo12" value="Radio" style="">
                        <span class="radio-button-label w-form-label purple">No</span>
                      </label>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="div-block-79 orange2">
              <p class="paragraph-4 p-white2">If you answered &quot;NO&quot; to more than two of these, it&#x27;s time to take a close look at Vox Direct.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-7">
    <div class="custom-cont padding">
      <div class="div-block-5ee"><img src="https://voxox.com/voxdirect/images/VOX-direct-white.svg" alt="" class="image-22">
        <h2 class="heading-19">YOUR CUSTOMER CONNECTION</h2>
      </div>
    </div>
  </div>
  <div class="section-8">
    <div class="custom-cont padding"></div>
  </div>
  <div class="section-9">
    <div class="custom-cont padding">
      <div class="div-block-83"><img src="https://voxox.com/voxdirect/images/phone3.png" alt="" class="image-23"></div>
    </div>
  </div>
  <div class="section-10">
    <div class="custom-cont padding">
      <div class="div-block-84">
        <div class="feat-cont _1">
          <div class="div-block-87"><img src="https://voxox.com/voxdirect/images/vox-call.png" alt="" class="image-24">
            <h5 class="heading-20"><span class="text-span-5">Your Own </span>Business Phone Number</h5>
          </div>
          <div class="div-block-86"></div>
          <div class="div-block-88"></div>
          <div class="div-block-89">
            <p class="paragraph-6">Toll Free or Local</p>
            <p class="paragraph-6">Vanity Number Option</p>
            <p class="paragraph-6">Texts: Send &amp; Receive</p>
            <p class="paragraph-6">Add Multiple Numbers</p>
          </div>
        </div>
        <div class="feat-cont _2">
          <div class="div-block-87"><img src="https://voxox.com/voxdirect/images/vox-reception.png" alt="" class="image-24">
            <h5 class="heading-20">Virtual<br>Receptionists</h5>
          </div>
          <div class="div-block-86 vr"></div>
          <div class="div-block-88 vr"></div>
          <div class="div-block-89 vr">
            <p class="paragraph-6">Professional Voice</p>
            <p class="paragraph-6">Extensions Menu</p>
            <p class="paragraph-6">Multiple Receptionists</p>
            <p class="paragraph-6">Call Screening</p>
            <p class="paragraph-6">Business Hours</p>
          </div>
        </div>
        <div class="feat-cont _3">
          <div class="div-block-87"><img src="https://voxox.com/voxdirect/images/vox-phone.png" alt="" class="image-24">
            <h5 class="heading-20 _2"><span>Easy</span> Call Management</h5>
          </div>
          <div class="div-block-86 call"></div>
          <div class="div-block-88 call"></div>
          <div class="div-block-89 call">
            <p class="paragraph-6"><span class="text-span-7">Easy</span> Re-Route Calls</p>
            <p class="paragraph-6"><span class="text-span-9">Employee</span> Extensions</p>
            <p class="paragraph-6"><span class="text-span-8">Control by </span>Mobile App</p>
            <p class="paragraph-6">Desktop Dashboard</p>
            <p class="paragraph-6">Use 2 Numbers on 1 Phone</p>
          </div>
        </div>
        <div class="feat-cont _4">
          <div class="div-block-87"><img src="https://voxox.com/voxdirect/images/vox-toolbox.png" alt="" class="image-24">
            <h5 class="heading-20"><span class="text-span-6">Advanced </span>Business Features<br></h5>
          </div>
          <div class="div-block-86 biz"></div>
          <div class="div-block-88 biz"></div>
          <div class="div-block-89 biz">
            <p class="paragraph-6">Voicemail Transcripts</p>
            <p class="paragraph-6">Call Recording</p>
            <p class="paragraph-6">Conference Calling</p>
            <p class="paragraph-6">International Call Forwarding</p>
          </div>
        </div>
        <div class="feat-cont _5">
          <div class="div-block-87"><img src="https://voxox.com/voxdirect/images/vox-message.png" alt="" class="image-24">
            <h5 class="heading-20">Text Messaging Marketing</h5>
          </div>
          <div class="div-block-86 txt"></div>
          <div class="div-block-88 txt"></div>
          <div class="div-block-89 txt">
            <p class="paragraph-6">Blast Messages</p>
            <p class="paragraph-6">Unlimited Subscriber Lists</p>
            <p class="paragraph-6">Drip Campaigns</p>
            <p class="paragraph-6">Contact Collection<br>Widgets</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-11">
    <div class="custom-cont padding">
      <div class="div-block-90">
        <h4 class="orange-head">SIMPLE, POWERFUL, AFFORDABLE</h4>
        <p class="p-white">Vox Direct gives you multiple powerful text marketing tools and a full business phone system to connect with customers and prospects. And everything works in the cloud - so there’s never hardware to buy or maintain.</p>
        <p class="p-white">You can run your entire customer communications from your Vox Direct mobile app, or on a desktop dashboard. See who’s calling... Reply to texts… Read voicemail transcriptions… Hear call recordings… Get faxes... Send blast texts...You can even make outbound calls from your Vox Direct command center to anywhere in the world.</p>
        <p class="p-white _22">Vox Direct saves you time and money. It puts your phone system to work for you so you can focus on your business. Plus it helps you look more established and credible, so you can win more customers and enter new markets.</p>
        <a href="/pricing" class="orange-btn white-btn w-inline-block">
          <div class="text-block">Get started</div><img src="https://voxox.com/voxdirect/images/white-arrow.svg" alt="" class="image-5"></a>
      </div>
    </div>
  </div>
  <div class="section-12">
    <div class="custom-cont padding">
      <div>
        <div class="div-block-91">
          <h4 class="orange-head _2">Let&#x27;s take a quick look at what&#x27;s included in your Vox Direct system:</h4>
        </div>
        <div class="div-block-93">
          <div class="feat-col">
            <div class="feat-div"><img src="https://voxox.com/voxdirect/images/businessphonenumber.png" alt="" class="image-25 _1">
              <div class="div-block-94 _1">
                <h5 class="feat-head _1">YOUR BUSINESS PHONE NUMBERS</h5>
                <div class="div-block-96 _1">
                  <p class="p-white _3">If you’re still giving out your personal number to run your business, it’s time for a change! Look professional, and keep your private and working lives separate. Plus: you never want a personal number on a public website.</p>
                  <p class="p-white _3">Use your same business number for voice and text blasts, prospects will never wonder “who sent this message?”</p>
                  <p class="p-white _3">Vox Direct gives you the choice:of local numbers in any area codes, toll free number or vanity number (like “1-844-JOEYS”).</p>
                  <p class="p-white _3">Want to add more business numbers, or a dedicated fax line later? No problem! You can add as many as you like as you need them.</p>
                  <p class="p-white _3">And if you already have a business number you like and use you can add Vox Direct to it no problem.</p>
                </div>
              </div>
            </div>
            <div class="feat-div"><img src="https://voxox.com/voxdirect/images/virtualreceptionist.png" alt="" class="image-25 _4">
              <div class="div-block-94 _4">
                <h5 class="feat-head _4">YOUR VIRTUAL RECEPTIONIST</h5>
                <div class="div-block-96 _4">
                  <p class="p-white _3">How do you want your calls handled? With Vox Direct, you have a choice. Calls can go straight through to your mobile—or any other phone you choose, or callers will hear a professional “virtual receptionist” and menu system. Think “press one for sales…”.How you organize the menu is en</p>
                  <p class="p-white _3">How you organize the menu is entirely up to you, including recorded messages you want people to hear or phones you want the caller routed to.</p>
                  <p class="p-white _3">As for the script, you can use Vox Direct’s default scripts, write your own for the Virtual Receptionist, use Vox Direct’s studio recorded greeting service or upload your own recording for your outgoing message.</p>
                </div>
              </div>
            </div>
            <div class="feat-div"><img src="https://voxox.com/voxdirect/images/businessnumber.png" alt="" class="image-25 _6">
              <div class="div-block-94 _6">
                <h5 class="feat-head _6">YOUR BUSINESS NUMBER ON YOUR SMARTPHONE</h5>
                <div class="div-block-96 _6">
                  <p class="p-white _3">Call from your business number using your mobile phone—so wherever you are, you’re always giving that professional image.</p>
                </div>
              </div>
            </div>
            <div class="feat-div"><img src="https://voxox.com/voxdirect/images/voicemailtranscript.png" alt="" class="image-25">
              <div class="div-block-94">
                <h5 class="feat-head">VOICEMAIL TRANSCRIPTS</h5>
                <div class="div-block-96">
                  <p class="p-white _3">Why waste time listening to a bunch of voicemails? Vox Direct delivers a transcript of every voicemail, so you get the message by email. Now you can quickly scan through the transcripts, pick out the important details, and call or text your reply.</p>
                </div>
              </div>
            </div>
            <div class="feat-div"><img src="https://voxox.com/voxdirect/images/callrecording.png" alt="" class="image-25 _3">
              <div class="div-block-94 _3">
                <h5 class="feat-head _3"><strong>CALL RECORDING</strong></h5>
                <div class="div-block-96 _3">
                  <p class="p-white _3">Sometimes you get an important call that needs to be recorded to capture information,train staff, or for legal protection. You can do that with Vox Direct and the audio comes to you via email, so you can forward easily.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="middle">
            <div class="branch">
              <div class="branchy b1"></div>
              <div class="branchy _4"></div>
              <div class="branchy _6"></div>
              <div class="branchy _7"></div>
              <div class="branchy _9"></div>
            </div>
            <div class="middle-line"></div>
            <div class="branch">
              <div class="branchy b2"></div>
              <div class="branchy _3"></div>
              <div class="branchy _5"></div>
              <div class="branchy _8"></div>
              <div class="branchy _10"></div>
            </div>
          </div>
          <div class="feat-col">
            <div class="feat-div _2"><img src="https://voxox.com/voxdirect/images/textandfax.png" alt="" class="image-25 _2">
              <div class="div-block-94 _2">
                <h5 class="feat-head _2">BEYOND THE PHONE—BUSINESS TEXT AND FAX</h5>
                <div class="div-block-96 _2">
                  <p class="p-white _3">These days, many consumers prefer texting to calling. With Vox Direct, they can send texts to your business number—that’s right, including a toll-free number. And when you text back it comes from your business number..</p>
                  <p class="p-white _3">And of course, there will always be those that like to fax. Your Vox Direct number accepts incoming faxes, or you can add a dedicated line… and they’re instantly sent to you by email.</p>
                </div>
              </div>
            </div>
            <div class="feat-div"><img src="https://voxox.com/voxdirect/images/textbasedmarketing.png" alt="" class="image-25 _3">
              <div class="div-block-94 _3">
                <h5 class="feat-head _3">TEXT BASED MARKETING MADE EASY</h5>
                <div class="div-block-96 _3">
                  <p class="p-white _3">Easily send marketing messages to hundreds or thousands of prospects at once. Send sale notices, or tell them about events. Send links to your website or even ask questions (with Vox Direct you’ll get the replies sent straight to your phone!)</p>
                  <p class="p-white _3">Create “set-and-forget” drip campaigns that do all the work for you. Once a prospect joins your list it will automatically send whatever messages you choose at the times you choose - you don’t have to do a thing.</p>
                </div>
              </div>
            </div>
            <div class="feat-div"><img src="https://voxox.com/voxdirect/images/callrouting.png" alt="" class="image-25 _5">
              <div class="div-block-94 _5">
                <h5 class="feat-head _5">FLEXIBLE CALL ROUTING</h5>
                <div class="div-block-96 _5">
                  <p class="p-white _3">Extensions you create can be routed to any numbers you like. For example, designated employees can have their own extension number, with their own restricted access to the Vox Direct dashboard. Each extension can be individually customized.</p>
                  <p class="p-white _3">You can have any extension ring on any phone you choose. More than that, you can set a series of phones, to make sure there’s always someone available to take the call. Or you can have multiple phones ring at the same time. This is the “big business” power of Vox Direct’s small business solution.</p>
                </div>
              </div>
            </div>
            <div class="feat-div"><img src="https://voxox.com/voxdirect/images/callscreening.png" alt="" class="image-25 _2">
              <div class="div-block-94 _2">
                <h5 class="feat-head _2">CALL SCREENING</h5>
                <div class="div-block-96 _2">
                  <p class="p-white _3">Spam calls waste precious time, especially robot calls. You can require the caller to speak their name so you can reject unwanted callers. Alternatively, you can have calls placed directly through. You can also “eavesdrop” on voicemails as they are recorded, so you can decide if you wish to connect.</p>
                </div>
              </div>
            </div>
            <div class="feat-div"><img src="https://voxox.com/voxdirect/images/conferencecalling.png" alt="" class="image-25 _4">
              <div class="div-block-94 _4">
                <h5 class="feat-head _4">CONFERENCE CALLING</h5>
                <div class="div-block-96 _4">
                  <p class="p-white _3">Need to hold a quick phone meeting? Vox Direct can connect up to five different numbers on the same call, at no extra charge!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="last-feat">
        <div class="feat-div last"><img src="https://voxox.com/voxdirect/images/goglobal.png" alt="" class="image-25 _5">
          <div class="div-block-94 _5">
            <h5 class="feat-head _5"><strong>GO GLOBAL</strong></h5>
            <div class="div-block-96 _5">
              <p class="p-white _3">With Vox Direct, you can stay in business while you’re out of the country. International call forwarding directs your calls seamlessly to any foreign number you designate. Work from anywhere in the world and have a US business number.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-13">
    <div class="custom-cont padding">
      <div class="div-block-101"><img src="https://voxox.com/voxdirect/images/vox-wallet-icon.png" alt="">
        <h3 class="orange-head">PRICED FOR YOUR BUDGET</h3>
        <p class="paragraph-7">When running your own business every dollar counts. Vox Direct is priced with the small business owner on a tight budget in mind. You get huge value added to your customer relationships, at a very low monthly cost. There are NO hidden fees. NO contracts, and you can cancel your subscription any time. We even offer a no questions asked 7-day 100% money-back guarantee—so enrolling as Vox Direct Member is completely risk free.</p>
        <a href="/pricing" class="orange-btn _2 w-inline-block">
          <div class="text-block">Get Started Now</div><img src="https://voxox.com/voxdirect/images/button-arrow.svg" alt="" class="image-5"></a>
      </div>
    </div>
  </div>
  
</body>
<!--

</html>
-->

<!--  -------- FOOTER HERE -------------  -->
  <div style ="background-color: #999; padding: 50px 0; margin-bottom: -10px;">
    <div class="flex-container">
      <div class="layer-flex">
        <ul class="vox-social">
          <li><a href="//www.facebook.com/VoxDirect/"><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="//twitter.com/VoxDirect"><i class="fab fa-twitter"></i></a></li>
          <li><a href="//www.instagram.com/voxdirect/"><i class="fab fa-instagram"></i></a></li>
          <li><a href="//www.youtube.com/channel/UC40n6EZ6r2I3fOZVDv3CbFA  "><i class="fab fa-youtube"></i></a></li>
          <li><a href="//www.linkedin.com/company/36016246"><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="layer-flex">
        <div class="footer-items">
          <div class="foot-item"><a href="mailto:contact@voxdirect.com">Contact Us</a></div>
          <div class="foot-item"><a href="/Public-Privacy-Policy/">Privacy Policy</a></div>
          <div class="last foot-item"><a href="/Public-Terms-and-Conditions/">Terms and Conditions</a></div>
        </div>
      </div>
      <span id="ctl00_copyright_lblCopyright" class="copyright">Copyright © Vox Direct, LLC - All Rights Reserved</span></div>
    </div>
  </div>

<!--     -------- CLOSING BRACKET  --------   -->
</div>