<!--
>> Make page in Webflow
>> Export html and css
>> Add a special ID to CSS styles 
    >> Put CSS into the SASS section here: https://www.sassmeister.com/
    >> Wrap entire code with: #wf{ }
    >> Convert back into CSS
>> Paste new CSS into the template below
>> Paste the HTML into the template below
>> Open the web page hosted by webflow
>> Right click on the images and add the image links to your html
>> Copy everything after "Template" and paste into MS

-->



<!-- Template -->


<link rel="stylesheet" type="text/css" href="https://voxox.com/voxdirect/css/normalize.css">
<link rel="stylesheet" type="text/css" href="https://voxox.com/voxdirect/css/webflow2.css">
<link rel="stylesheet" type="text/css" href="https://voxox.com/voxdirect/css/custom-webflow3.css">
<!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
<script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-145506713-1"></script>
<script type="text/javascript">window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-145506713-1', {'anonymize_ip': false});</script>
<script>document.domain="voxdirect.com";</script>




<style>

/* -------- GLOBAL FIXES HERE ------------- */
  
.tippy-tooltip {
    background: #252D35;
}
  

#backoffice-wrapper .container {
   width: 100% !important;
   padding: 0 !important;
   margin: 0 !important;
}

.module_title {
    display: none;
}

#breadcrumbs {
    display: none;
}

tbody  .col-lg-12 {
    padding: 0!important;
}

tbody #module-wrapper {
    margin: 0 !important;
}

.vox-footer {
    min-height: 284px;
    POSITION: RELATIVE;
    Z-INDEX: 5000;
    MARGIN-TOP: 0PX;
    TOP: -26PX;
}

div.left-navbar {
    display: none !important;
}

[class*=span-], [class^=space-] {
    float: none;
}

.w-form-done, .w-form-fail {
    display: none;
}

div#mod-buttons {
    display: none;
}

#module-wrapper>div {
    padding-left: 0;
    padding-right: 0;
}

#module-wrapper{
  margin: 0;
}

.mod_content {
    font-family: "raleway";
}

html form#aspnetForm:after {
    height: 0;
}

.copyright{
  float: none;
  text-align: center;
}

.vox-footer{
  display: none;
}

#dvLayout .left-menu+div, #module-body>table, #module-body>table>tbody, #module-body>table>tbody>tr, #module-body>table>tbody>tr>td, #tblLayout, #tblLayout>tbody, #tblLayout>tbody>tr, #tblLayout>tbody>tr>td, #tblLayout>tbody>tr>td>table, #tblLayout>tbody>tr>td>table>tbody, #tblLayout>tbody>tr>td>table>tbody>tr, #tblLayout>tbody>tr>td>table>tbody>tr>td, #tblLayout>tbody>tr>td>table>tbody>tr>td>table, #tblLayout>tbody>tr>td>table>tbody>tr>td>table>tbody, #tblLayout>tbody>tr>td>table>tbody>tr>td>table>tbody>tr, #tblLayout>tbody>tr>td>table>tbody>tr>td>table>tbody>tr>td, [id*=moduleContainer], [id*=moduleContainer]>tbody, [id*=moduleContainer]>tbody>tr, [id*=moduleContainer]>tbody>tr>td, table[id$=wzd], table[id$=wzd]>tbody, table[id$=wzd]>tbody>tr, table[id$=wzd]>tbody>tr>td{
  float: none !important;
}

@media (max-width: 991px){
  section#module-wrapper {
    padding: 0 !important;
  }
}

.footer-items {
  text-align: center;
  margin: auto;
}

.foot-item {
  display: inline-block;
  padding: 10px 14px;
  color: white !important;
}

.foot-item a {
  color: white;
}



/*    --------  --------  --------  */

/* -------- PAGE SPECIFIC CSS HERE ------------- */

@media screen and (max-width: 810px){
.div-block-27{
margin-bottom: 0;
}
.image-8{
top: 20px;
}
}

#wf .w-background-video > video{
  z-index: 1;
}

#wf .div-block-25 {
    z-index: 2;
}

img#w-node-9d6edfeeff9d-ee6507e7 {
    z-index: 3;
}

#wf .orange-btn.blue-btn.top {
    margin-left: 0;
}

/*    --------  --------  --------  */



/* -------- WEBFLOW CSS UNDER HERE ------------- */



/*    --------  --------  --------  */
</style>

<div id="wf">
  
<!-- -------- WEBFLOW HTML UNDER HERE ------------- -->

<body class="body-3">
  <div data-autoplay="true" data-loop="true" data-wf-ignore="true" data-poster-url="https://voxox.com/voxdirect/videos/13307609-sd-poster-00001.jpg" data-video-urls="https://voxox.com/voxdirect/videos/13307609-sd-transcode.mp4,videos/13307609-sd-transcode.webm" class="background-video w-background-video w-background-video-atom"><video autoplay="" loop="" style="background-image:url('videos/13307609-sd-poster-00001.jpg')" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover"><source src="https://voxox.com/voxdirect/videos/13307609-sd-transcode.mp4" data-wf-ignore="true"><source src="https://voxox.com/voxdirect/videos/13307609-sd-transcode.webm" data-wf-ignore="true"></video>
    <div class="div-block-25">
      <h1 class="hero-text">A Big Voice for Small Business<a href="https://voxdirect.com/pricing"><br></a></h1>
      <a href="/pricing" class="orange-btn white-btn w-inline-block">
        <div class="text-block">Get started</div><img src="https://voxox.com/voxdirect/images/white-arrow.svg" alt="" class="image-5"></a>
    </div>
  </div>
  <div class="div-block-27">
    <div class="custom-cont">
      <div class="div-block-26"><img src="https://voxox.com/voxdirect/images/phone3.png" id="w-node-9d6edfeeff9d-ee6507e7" alt="" class="image-12">
        <div class="div-block-47">
          <h3 class="heading-8"><strong class="bold-text">Vox Direct</strong> is a big voice for small business. We empower small businesses to compete and win on the same field as the big players - without the big expense.</h3>
          <h3 class="heading-8"><strong class="bold-text">Vox Direct</strong> takes care of your connection to your customers and prospects while making you look great - and saving you time and money!</h3>
          <h3 class="heading-8 orange">That&#x27;s the secret to smart business growth…</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="div-block-28">
    <div class="custom-cont">
      <div class="div-block-29">
        <div id="w-node-b62d7fa1fe83-ee6507e7" class="div-block-30">
          <h3 class="heading-9">BUSINESS IS A CONTACT SPORT</h3>
          <div class="text-block-2">Your small business lives or dies by communication. It’s unfortunate, but true - no matter what else you’re doing, no matter what or how you’re selling, it’s how you communicate that measures whether your business will struggle or thrive!<br>‍<br>Right now…</div>
          <ul class="list">
            <li class="list-item">How easily can your prospects and customers reach you at any time?<br></li>
            <li class="list-item-3">How friendly and professional is their experience?</li>
            <li class="list-item-2">Can you message hundreds or even thousands of prospects at once?</li>
          </ul>
        </div><img src="https://voxox.com/voxdirect/images/man-posted.png" id="w-node-a3a5e29028e3-ee6507e7" alt="" class="image-8">
        <div id="w-node-7e955431c067-ee6507e7" class="div-block-32">
          <div class="w-layout-grid grid-3">
            <div class="div-block-33">
              <h3 class="heading-10">And customers expect connection in more ways than ever before…</h3>
              <div class="w-layout-grid grid-4">
                <div class="div-block-34"><img src="https://voxox.com/voxdirect/images/textmsg-icon.png" alt="" class="image-9">
                  <div class="text-block-3">Texting</div>
                </div>
                <div class="div-block-35"><img src="https://voxox.com/voxdirect/images/phone-icon.png" alt="">
                  <div class="text-block-3">Calling</div>
                </div>
                <div class="div-block-36"><img src="https://voxox.com/voxdirect/images/socialmedia-icon.png" alt="">
                  <div class="text-block-3">Social Media</div>
                </div>
                <div class="div-block-37"><img src="https://voxox.com/voxdirect/images/fax-icon.png" alt="">
                  <div class="text-block-3">Fax</div>
                </div>
              </div>
            </div>
            <div class="div-block-38">
              <h3 class="heading-11">Can you respond immediately - even when you’re not there?</h3>
              <div class="text-block-4">Remember, with today’s technologies, your customers have choices. It’s up to you to make that connection as fast and simple as possible.</div>
              <div class="text-block-4 bottom">That’s why we created Vox Direct, the growth engine for entrepreneurs like you.</div>
              <a href="/Features" class="orange-btn white-btn w-inline-block">
                <div class="text-block">Learn how</div><img src="https://voxox.com/voxdirect/images/white-arrow.svg" alt="" class="image-5"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-block-31">
    <div class="custom-cont _2">
      <div style="padding-top:56.17021276595745%" id="w-node-e2c418716e02-ee6507e7" class="video w-video w-embed"><iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2Fi7XsEzL6GA8%3Ffeature%3Doembed&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3Di7XsEzL6GA8&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2Fi7XsEzL6GA8%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube" scrolling="no" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="true"></iframe></div>
    </div>
  </div>
  <div>
    <div class="div-block-42"><img src="https://voxox.com/voxdirect/images/sec5man.png" alt="" class="image-11">
      <div class="div-block-46"></div>
      <div class="div-block-43">
        <div class="custom-cont">
          <div class="div-block-39">
            <div class="div-block-45"><img src="https://voxox.com/voxdirect/images/time-icon.png" alt="" class="image-10">
              <h3 class="heading-12">YOUR MOST PRECIOUS ASSET—TIME</h3>
            </div>
            <div class="text-block-5">It’s not enough to have great communications and outreach. You need a system that doesn’t burn your time and your wallet.</div>
            <div class="text-block-5">Today you pay different companies for different bits and pieces as complexity and costs keep going up..</div>
            <div class="text-block-5">There’s a better way.</div>
            <div class="text-block-5">Vox Direct handles all your communication needs in one simple package for one very affordable price.</div>
            <a href="/Features" class="orange-btn blue-btn top w-inline-block">
              <div class="text-block">Learn More</div><img src="https://voxox.com/voxdirect/images/blue-arrow.svg" alt="" class="image-5"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-block-40">
    <div class="div-block-41">
      <div class="custom-cont">
        <div class="w-layout-grid grid-6">
          <div class="div-block-44">
            <h2 class="heading-13">GET VOX DIRECT</h2>
            <div class="text-block-6">Free up your time and massively improve your connection with customers and prospects and join a dynamic community of like-minded business owners.</div>
            <a href="/pricing" class="orange-btn white-btn w-inline-block">
              <div class="text-block">Start here</div><img src="https://voxox.com/voxdirect/images/white-arrow.svg" alt="" class="image-5"></a>
          </div><img src="https://voxox.com/voxdirect/images/Voxdirect-dark-logo.png" alt="" class="image-13"><img src="https://voxox.com/voxdirect/images/phone3.png" id="w-node-4907a3d46be1-ee6507e7" alt="" class="image-14"></div>
      </div>
    </div>
  </div>  
</body>


<!--  --------  --------  --------  -->

<!--  -------- FOOTER HERE -------------  -->
  <div style ="background-color: #999; padding: 50px 0; margin-bottom: -10px;">
    <div class="flex-container">
      <div class="layer-flex">
        <ul class="vox-social">
          <li><a href="//www.facebook.com/VoxDirect/"><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="//twitter.com/VoxDirect"><i class="fab fa-twitter"></i></a></li>
          <li><a href="//www.instagram.com/voxdirect/"><i class="fab fa-instagram"></i></a></li>
          <li><a href="//www.youtube.com/channel/UC40n6EZ6r2I3fOZVDv3CbFA  "><i class="fab fa-youtube"></i></a></li>
          <li><a href="//www.linkedin.com/company/36016246"><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="layer-flex">
        <div class="footer-items">
          <div class="foot-item"><a href="mailto:contact@voxdirect.com">Contact Us</a></div>
          <div class="foot-item"><a href="/Public-Privacy-Policy/">Privacy Policy</a></div>
          <div class="last foot-item"><a href="/Public-Terms-and-Conditions/">Terms and Conditions</a></div>
        </div>
      </div>
      <span id="ctl00_copyright_lblCopyright" class="copyright">Copyright © Vox Direct, LLC - All Rights Reserved</span></div>
    </div>
  </div>

<!--     -------- CLOSING BRACKET  --------   -->
</div>
