<!-- Webflow to MS Template -->


<link rel="stylesheet" type="text/css" href="https://voxox.com/voxdirect/css/normalize.css">
<link rel="stylesheet" type="text/css" href="https://voxox.com/voxdirect/css/webflow2.css">
<link rel="stylesheet" type="text/css" href="https://voxox.com/voxdirect/css/custom-webflow3.css">
<!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
<script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-145506713-1"></script>
<script type="text/javascript">window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-145506713-1', {'anonymize_ip': false});</script>
<script>document.domain="voxdirect.com";</script>




<style>

/* -------- GLOBAL FIXES HERE ------------- */
  
.tippy-tooltip {
    background: #252D35;
}
  

#backoffice-wrapper .container {
   width: 100% !important;
   padding: 0 !important;
   margin: 0 !important;
}

.module_title {
    display: none;
}

#breadcrumbs {
    display: none;
}

tbody  .col-lg-12 {
    padding: 0!important;
}

tbody #module-wrapper {
    margin: 0 !important;
}

.vox-footer {
    min-height: 284px;
    POSITION: RELATIVE;
    Z-INDEX: 5000;
    MARGIN-TOP: 0PX;
    TOP: -26PX;
}

.footer-items {
  text-align: center;
  margin: auto;
}

.foot-item {
  display: inline-block;
  padding: 10px 14px;
  color: white !important;
}

.foot-item a {
  color: white;
}

ul.vox-social {
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}



div.left-navbar {
    display: none !important;
}

[class*=span-], [class^=space-] {
    float: none;
}

.w-form-done, .w-form-fail {
    display: none;
}

div#mod-buttons {
    display: none;
}

#module-wrapper>div {
    padding-left: 0;
    padding-right: 0;
}

#module-wrapper{
  margin: 0;
}

.mod_content {
    font-family: "raleway";
}

html form#aspnetForm:after {
    height: 0;
}

.copyright{
  float: none;
  text-align: center;
}

.vox-footer{
  display: none;
}

#dvLayout .left-menu+div, #module-body>table, #module-body>table>tbody, #module-body>table>tbody>tr, #module-body>table>tbody>tr>td, #tblLayout, #tblLayout>tbody, #tblLayout>tbody>tr, #tblLayout>tbody>tr>td, #tblLayout>tbody>tr>td>table, #tblLayout>tbody>tr>td>table>tbody, #tblLayout>tbody>tr>td>table>tbody>tr, #tblLayout>tbody>tr>td>table>tbody>tr>td, #tblLayout>tbody>tr>td>table>tbody>tr>td>table, #tblLayout>tbody>tr>td>table>tbody>tr>td>table>tbody, #tblLayout>tbody>tr>td>table>tbody>tr>td>table>tbody>tr, #tblLayout>tbody>tr>td>table>tbody>tr>td>table>tbody>tr>td, [id*=moduleContainer], [id*=moduleContainer]>tbody, [id*=moduleContainer]>tbody>tr, [id*=moduleContainer]>tbody>tr>td, table[id$=wzd], table[id$=wzd]>tbody, table[id$=wzd]>tbody>tr, table[id$=wzd]>tbody>tr>td{
  float: none !important;
}

@media (max-width: 991px){
  section#module-wrapper {
    padding: 0 !important;
  }
}

/*    --------  --------  --------  */

/* -------- PAGE SPECIFIC CSS HERE ------------- */



/*    --------  --------  --------  */


</style>

<div id="wf">
  
<!-- -------- WEBFLOW HTML UNDER HERE ------------- -->

<body class="body-6">
  <div class="section-20">
    <div class="custom-cont padding">
      <div class="div-block-120">
        <h4 class="heading-24">Download the Vox Direct Mobile App</h4><a href="https://apps.apple.com/app/vox-direct/id1480773976" target="_blank" class="div-block-123 w-inline-block"><img src="https://voxox.com/voxdirect/images/DL-AppStore.png" alt="" class="image-33"></a><a href="https://play.google.com/store/apps/details?id=com.voxox.voxdirect&amp;hl=en" class="div-block-124 w-inline-block"><img src="https://voxox.com/voxdirect/images/DL-Playstore.png" alt="" class="image-33"></a><img src="https://voxox.com/voxdirect/images/Vox-Direct-3-phones.png" srcset="https://voxox.com/voxdirect/images/Vox-Direct-3-phones-p-500.png 500w, https://voxox.com/voxdirect/images/Vox-Direct-3-phones-p-800.png 800w, https://voxox.com/voxdirect/images/Vox-Direct-3-phones.png 852w" sizes="(max-width: 767px) 83vw, (max-width: 991px) 81vw, 851.9885864257812px" alt="" class="image-31"></div>
    </div>
  </div>
  <div class="section-21">
    <div class="div-block-121">
      <div class="div-block-125"><img src="https://voxox.com/voxdirect/images/carpenter-on-phone.png" srcset="https://voxox.com/voxdirect/images/carpenter-on-phone-p-500.png 500w, https://voxox.com/voxdirect/images/carpenter-on-phone.png 731w" sizes="(max-width: 479px) 80vw, (max-width: 991px) 438.5937194824219px, 620.4119262695312px" alt="" class="image-32">
        <div class="div-block-122">
          <h2 class="h2-white">Use the mobile app to:</h2>
          <ul class="list-2">
            <li>Place calls using any of your Vox Direct numbers</li>
            <li>Answer incoming calls to your extension</li>
            <li>Send and receive text messages</li>
            <li>Record phone calls</li>
            <li>Transfer a call to another number</li>
            <li>Add multiple people to a call</li>
            <li>View your extension’s call activity</li>
            <li>Manage how your extension connects calls</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>



<!--  --------  --------  --------  -->

<!--  -------- FOOTER HERE -------------  -->
  <div style ="background-color: #999; padding: 50px 0; margin-bottom: -10px;">
    <div class="flex-container">
      <div class="layer-flex">
        <ul class="vox-social">
          <li><a href="//www.facebook.com/VoxDirect/"><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="//twitter.com/VoxDirect"><i class="fab fa-twitter"></i></a></li>
          <li><a href="//www.instagram.com/voxdirect/"><i class="fab fa-instagram"></i></a></li>
          <li><a href="//www.youtube.com/channel/UC40n6EZ6r2I3fOZVDv3CbFA  "><i class="fab fa-youtube"></i></a></li>
          <li><a href="//www.linkedin.com/company/36016246"><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="layer-flex">
        <div class="footer-items">
          <div class="foot-item"><a href="mailto:contact@voxdirect.com">Contact Us</a></div>
          <div class="foot-item"><a href="/Public-Privacy-Policy/">Privacy Policy</a></div>
          <div class="last foot-item"><a href="/Public-Terms-and-Conditions/">Terms and Conditions</a></div>
        </div>
      </div>
      <span id="ctl00_copyright_lblCopyright" class="copyright">Copyright © Vox Direct, LLC - All Rights Reserved</span></div>
    </div>
  </div>

<!--     -------- CLOSING BRACKET  --------   -->
</div>

