
<link rel="stylesheet" type="text/css" href="https://voxox.com/voxdirect/css/normalize.css">
<link rel="stylesheet" type="text/css" href="https://voxox.com/voxdirect/css/webflow2.css">
<link rel="stylesheet" type="text/css" href="https://voxox.com/voxdirect/css/custom-webflow3.css">
<!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
<script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-145506713-1"></script>
<script type="text/javascript">window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-145506713-1', {'anonymize_ip': false});</script>
<script>document.domain="voxdirect.com";</script>




<style>

/* -------- GLOBAL FIXES HERE ------------- */
  
.tippy-tooltip {
    background: #252D35;
}
  

#backoffice-wrapper .container {
   width: 100% !important;
   padding: 0 !important;
   margin: 0 !important;
}

.module_title {
    display: none;
}

#breadcrumbs {
    display: none;
}

tbody  .col-lg-12 {
    padding: 0!important;
}

tbody #module-wrapper {
    margin: 0 !important;
}

.vox-footer {
    min-height: 284px;
    POSITION: RELATIVE;
    Z-INDEX: 5000;
    MARGIN-TOP: 0PX;
    TOP: -26PX;
}

.footer-items {
  text-align: center;
  margin: auto;
}

.foot-item {
  display: inline-block;
  padding: 10px 14px;
  color: white !important;
}

.foot-item a {
  color: white;
}

ul.vox-social {
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}

div.left-navbar {
    display: none !important;
}

[class*=span-], [class^=space-] {
    float: none;
}

.w-form-done, .w-form-fail {
    display: none;
}

div#mod-buttons {
    display: none;
}

#module-wrapper>div {
    padding-left: 0;
    padding-right: 0;
}

#module-wrapper{
  margin: 0;
}

.mod_content {
    font-family: "raleway";
}

html form#aspnetForm:after {
    height: 0;
}

.copyright{
  float: none;
  text-align: center;
}

.vox-footer{
  display: none;
}

#dvLayout .left-menu+div, #module-body>table, #module-body>table>tbody, #module-body>table>tbody>tr, #module-body>table>tbody>tr>td, #tblLayout, #tblLayout>tbody, #tblLayout>tbody>tr, #tblLayout>tbody>tr>td, #tblLayout>tbody>tr>td>table, #tblLayout>tbody>tr>td>table>tbody, #tblLayout>tbody>tr>td>table>tbody>tr, #tblLayout>tbody>tr>td>table>tbody>tr>td, #tblLayout>tbody>tr>td>table>tbody>tr>td>table, #tblLayout>tbody>tr>td>table>tbody>tr>td>table>tbody, #tblLayout>tbody>tr>td>table>tbody>tr>td>table>tbody>tr, #tblLayout>tbody>tr>td>table>tbody>tr>td>table>tbody>tr>td, [id*=moduleContainer], [id*=moduleContainer]>tbody, [id*=moduleContainer]>tbody>tr, [id*=moduleContainer]>tbody>tr>td, table[id$=wzd], table[id$=wzd]>tbody, table[id$=wzd]>tbody>tr, table[id$=wzd]>tbody>tr>td{
  float: none !important;
}

@media (max-width: 991px){
  section#module-wrapper {
    padding: 0 !important;
  }
}

/*    --------  --------  --------  */

/* -------- PAGE SPECIFIC CSS HERE ------------- */

#wf h1, #wf h2, #wf h3, #wf h4, #wf h5, #wf h6 {
    color: white;
}
#wf .div-block-57 {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: center;
    }

/*    --------  --------  --------  */



</style>

<div id="wf">
  
<!-- -------- WEBFLOW HTML UNDER HERE ------------- -->

<body class="body-4">
  <div class="div-block-48">
    <div class="div-block-49">
      <h1 class="h3">Make Our Business Your Business</h1>
      <h1 class="h1 hero3">Grow With Us!</h1>
      <a href="/Find-Consultant" class="orange-btn white-btn w-inline-block enroll-btn">
        <div class="text-block">Become a consultant</div><img src="https://voxox.com/voxdirect/images/white-arrow.svg" alt="" class="image-5"></a>
    </div>
  </div>
  <div class="div-block-50">
    <div class="custom-cont padding">
      <div class="div-block-51">
        <div class="div-block-52"><img src="https://voxox.com/voxdirect/images/vox-logo-people.png" alt="" class="image-19">
          <p class="paragraph-2">At Vox Direct we care about small businesses and want to see them grow. We help people grow, too. That&#x27;s why we&#x27;ve chosen to share our products through social selling so you can quickly expand your life personally, and financially.</p>
        </div>
        <div class="div-block-54"><img src="https://voxox.com/voxdirect/images/vox-sign-girl1.png" srcset="https://voxox.com/voxdirect/images/vox-sign-girl1-p-500.png 500w, https://voxox.com/voxdirect/images/vox-sign-girl1.png 612w" sizes="(max-width: 479px) 93vw, (max-width: 767px) 48vw, (max-width: 991px) 45vw, 42vw" alt=""></div>
      </div>
    </div>
  </div>
  <div class="div-block-55">
    <div class="custom-cont padding">
      <div class="div-block-56">
        <h1 class="h3 _2">LEVERAGE YOUR TIME &amp; TALENTS</h1>
        <p class="p-white">Most people know the principle: the shortest path to abundance is through leverage. In other words, do something that multiplies the impact of your efforts. The trouble is, finding a dependable opportunity may not be easy. That’s why we designed the Vox Direct business opportunity.<br></p>
        <p class="p-white">As a Vox Direct Communications Consultant, you’ll be part of a growing national enterprise led by a very experienced team.<br></p>
        <p class="p-white">You can participate in our success right from the start, simply by following our step-by-step system. Whenever you bring in new customers, you create extra income for yourself. So the great thing is, you’ll get MONTHLY earnings so long as the people you bring in remain subscribed.<br></p>
        <p class="p-white">Take one action and enjoy benefits that can last for years. Now that’s leverage!<br></p>
      </div>
    </div>
  </div>
  <div class="div-block-72">
    <div class="custom-cont padding">
      <div class="div-block-57">
        <div class="div-block-58"><img src="https://voxox.com/voxdirect/images/x-bg.png" srcset="https://voxox.com/voxdirect/images/x-bg-p-500.png 500w, https://voxox.com/voxdirect/images/x-bg.png 677w" sizes="(max-width: 479px) 93vw, (max-width: 767px) 48vw, 47vw" alt="" class="image-15"></div>
        <div class="div-block-59">
          <h3 class="purple">MULTIPLY THE BENEFITS<br></h3>
          <p class="paragraph-3">Plus, you can literally multiply your income with Vox Direct by enrolling other Consultants Every time they bring in a customer, you earn bonuses on their sales—and again, the rewards come monthly. That’s super-leverage!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section-3">
    <div class="custom-cont padding">
      <div class="div-block-60">
        <h3 class="purple">SEVERAL WAYS TO GET PAID</h3>
        <h4 class="gray _3">Vox Direct’s plan uses a three-level approach that outlines a path that lets you strategically build your personal business. We offer many different bonuses and commission opportunities as you continue to grow with us...</h4>
      </div>
      <div class="div-block-61">
        <div class="div-block-62">
          <div class="div-block-64">
            <h4 class="topless">Establish a Foundation</h4>
            <p class="p-white">Every business needs a solid foundation. As you build by sharing you’ll strive to become qualified and earn <em>Activation Commissions, Team Bonuses,</em> and <em>Customer Acquisition Bonus.</em> All of these rewards are designed to create compensation as you establish your foundation!<br></p>
          </div>
          <div class="div-block-64 orange">
            <h4 class="topless">BUILD YOUR NETWORK</h4>
            <p class="p-white">As you use our communication tools and see the benefits of our products, you’ll continue to earn Recurring and Retention Customer Commissions. Plus your team will be doing the same! And as your team grows, you’ll move up in ranks and earn a Rank Advancement Bonuses!<br></p>
          </div>
          <div class="div-block-64 d-blue nb">
            <h4 class="topless">BECOME A LEADER</h4>
            <p class="p-white">With an established business and a passion to empower small business, your team will continue to grow! As they begin to be qualified and share, you’ll see more rewards including Personal Group and Generation Volume Bonuses. At this point you are maximizing the rewards from Vox Direct. You’ll be an example to others and you’re ready to share that experience!<br></p>
          </div>
          <div class="div-block-66 _2">
            <a href="/Find-Consultant" class="orange-btn div-block-65 w-inline-block enroll-btn">
              <div class="text-block">start getting paid</div><img src="https://voxox.com/voxdirect/images/button-arrow.svg" alt="" class="image-5"></a>
          </div>
        </div>
        <div class="div-block-63"><img src="https://voxox.com/voxdirect/images/ways-to-paid.svg" alt="" class="image-20">
          <div class="div-block-66 _3">
            <a href="/Find-Consultant" class="orange-btn div-block-65 w-inline-block enroll-btn">
              <div class="text-block">start getting paid</div><img src="https://voxox.com/voxdirect/images/button-arrow.svg" alt="" class="image-5"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-5">
    <div class="custom-cont padding">
      <div class="div-block-57">
        <div class="div-block-67">
          <h3 class="purple _2">THE BEST TOOLS AND TRAINING TO GROW YOUR BUSINESS</h3>
          <p class="small">Here’s the special beauty of the Vox Direct income opportunity. The product itself is the perfect tool for growing your business! The company’s amazing suite of text marketing tools makes it super-simple to reach out to hundreds of prospects at once and share the Vox Direct story.</p>
          <div class="div-block-73">
            <div class="div-block-70"><img src="https://voxox.com/voxdirect/images/op-phone.png" alt="" class="image-16"><img src="https://voxox.com/voxdirect/images/op-chat.png" alt="" class="image-16"></div>
            <div class="div-block-70"><img src="https://voxox.com/voxdirect/images/op-mic.png" alt="" class="image-16"><img src="https://voxox.com/voxdirect/images/op-paper.png" alt="" class="image-16 _2"></div>
          </div>
          <p class="small">Next, you can say, “Hey, call my Vox Direct number now.” They’ll immediately get the big-company experience of a highly professional virtual receptionist, with an easy-to-follow menu of choices. They’ll see how their call gets picked up on your mobile, making life easy for you wherever you are. After that, every time you connect to your prospect by phone or text, you’ll further demonstrate the power of the Vox Direct services.</p>
          <p class="small">We also believe in arming you with the best mental tools to succeed, therefore we also have training and support designed to help you hit the ground running and build a successful Vox Direct business! From personal mentors and support groups to online training events and customer support!</p>
        </div>
        <div class="div-block-68"><img src="https://voxox.com/voxdirect/images/phone2.png" alt="" class="image-21"></div>
      </div>
    </div>
  </div>
  <div class="section-4">
    <div class="custom-cont padding">
      <div class="div-block-57 _2">
        <div class="div-block-71 img"><img src="https://voxox.com/voxdirect/images/vox-girl.png" alt="" class="image-17"></div>
        <div class="div-block-71 _2">
          <h1 class="heading-14">BECOME A CONSULTANT</h1>
          <p class="p-white">Why wait? Earn generous financial rewards and enjoy the satisfaction of seeing entrepreneurs grow their business because of you.</p>
          <p class="p-white">At the same time use our amazing communication tools to grow your own communications consulting business.</p><img src="https://voxox.com/voxdirect/images/voxdirectblack.png" alt="" class="image-18">
          <div>
            <a href="/Find-Consultant" class="orange-btn white-btn w-inline-block enroll-btn">
              <div class="text-block">Start here</div><img src="https://voxox.com/voxdirect/images/white-arrow.svg" alt="" class="image-5">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<!--  --------  --------  --------  -->

<!--  -------- FOOTER HERE -------------  -->
  <div style ="background-color: #999; padding: 50px 0; margin-bottom: -10px;">
    <div class="flex-container">
      <div class="layer-flex">
        <ul class="vox-social">
          <li><a href="//www.facebook.com/VoxDirect/"><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="//twitter.com/VoxDirect"><i class="fab fa-twitter"></i></a></li>
          <li><a href="//www.instagram.com/voxdirect/"><i class="fab fa-instagram"></i></a></li>
          <li><a href="//www.youtube.com/channel/UC40n6EZ6r2I3fOZVDv3CbFA  "><i class="fab fa-youtube"></i></a></li>
          <li><a href="//www.linkedin.com/company/36016246"><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="layer-flex">
        <div class="footer-items">
          <div class="foot-item"><a href="mailto:contact@voxdirect.com">Contact Us</a></div>
          <div class="foot-item"><a href="/Public-Privacy-Policy/">Privacy Policy</a></div>
          <div class="last foot-item"><a href="/Public-Terms-and-Conditions/">Terms and Conditions</a></div>
        </div>
      </div>
      <span id="ctl00_copyright_lblCopyright" class="copyright">Copyright © Vox Direct, LLC - All Rights Reserved</span></div>
    </div>
  </div>

<!--     -------- CLOSING BRACKET  --------   -->
</div>

<!-- Important for passing opportunity referral info -->
<script>
	if ( document.location.href.indexOf('Edit') == -1 ) {
		jQuery(document).ready(function(){
			if ( document.cookie.indexOf('ReplicatedSiteUrl') != -1 ) {
				jQuery('a.enroll-btn').attr('href','/Enroll/');
			} else {
				jQuery('a.enroll-btn').attr('href','/Find-Consultant/');
			}
		});
	}
</script>