
<link rel="stylesheet" type="text/css" href="https://voxox.com/voxdirect/css/normalize.css">
<link rel="stylesheet" type="text/css" href="https://voxox.com/voxdirect/css/webflow2.css">
<link rel="stylesheet" type="text/css" href="https://voxox.com/voxdirect/css/custom-webflow3.css">
<!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
<script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-145506713-1"></script>
<script type="text/javascript">window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-145506713-1', {'anonymize_ip': false});</script>
<script>document.domain="voxdirect.com";</script>
 
<!-- Tippy -->
<script src="https://unpkg.com/popper.js@1"></script>
<script src="https://unpkg.com/tippy.js@4"></script>


<style>

/* -------- GLOBAL FIXES HERE ------------- */
  
.tippy-tooltip {
    background: #252D35;
}
  

#backoffice-wrapper .container {
   width: 100% !important;
   padding: 0 !important;
   margin: 0 !important;
}

.module_title {
    display: none;
}

#breadcrumbs {
    display: none;
}

tbody  .col-lg-12 {
    padding: 0!important;
}

tbody #module-wrapper {
    margin: 0 !important;
}

.vox-footer {
    min-height: 284px;
    POSITION: RELATIVE;
    Z-INDEX: 5000;
    MARGIN-TOP: 0PX;
    TOP: -26PX;
}

.footer-items {
  text-align: center;
  margin: auto;
}

.foot-item {
  display: inline-block;
  padding: 10px 14px;
  color: white !important;
}

.foot-item a {
  color: white;
}

ul.vox-social {
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}

div.left-navbar {
    display: none !important;
}

[class*=span-], [class^=space-] {
    float: none;
}

.w-form-done, .w-form-fail {
    display: none;
}

div#mod-buttons {
    display: none;
}

#module-wrapper>div {
    padding-left: 0;
    padding-right: 0;
}

#module-wrapper{
  margin: 0;
}

.mod_content {
    font-family: "raleway";
}

html form#aspnetForm:after {
    height: 0;
}

.copyright{
  float: none;
  text-align: center;
}

.vox-footer{
  display: none;
}

#dvLayout .left-menu+div, #module-body>table, #module-body>table>tbody, #module-body>table>tbody>tr, #module-body>table>tbody>tr>td, #tblLayout, #tblLayout>tbody, #tblLayout>tbody>tr, #tblLayout>tbody>tr>td, #tblLayout>tbody>tr>td>table, #tblLayout>tbody>tr>td>table>tbody, #tblLayout>tbody>tr>td>table>tbody>tr, #tblLayout>tbody>tr>td>table>tbody>tr>td, #tblLayout>tbody>tr>td>table>tbody>tr>td>table, #tblLayout>tbody>tr>td>table>tbody>tr>td>table>tbody, #tblLayout>tbody>tr>td>table>tbody>tr>td>table>tbody>tr, #tblLayout>tbody>tr>td>table>tbody>tr>td>table>tbody>tr>td, [id*=moduleContainer], [id*=moduleContainer]>tbody, [id*=moduleContainer]>tbody>tr, [id*=moduleContainer]>tbody>tr>td, table[id$=wzd], table[id$=wzd]>tbody, table[id$=wzd]>tbody>tr, table[id$=wzd]>tbody>tr>td{
  float: none !important;
}

@media (max-width: 991px){
  section#module-wrapper {
    padding: 0 !important;
  }
}

/*    --------  --------  --------  */

/* -------- PAGE SPECIFIC CSS HERE ------------- */

.tippy-tooltip.plans-theme {
    min-width: 300px !important;
    text-align: left;
    line-height: 170%;
}

#wf .div-block-14 {
  padding-bottom: 0; 
}

@media (max-width: 767px){
  #wf .div-block-20 {
      margin-top: 30px;
  }
}

/*    --------  --------  --------  */


</style>

<div id="wf">
  
<!-- -------- WEBFLOW HTML UNDER HERE ------------- -->


<body class="body-2">
  <div class="div-block-12">
    <div class="div-block-13">
      <h1 class="white">NO HIDDEN FEES!</h1>
      <h3 class="white-h3">ALL PLANS INCLUDED UNLIMITED MINUTES, UNLIMITED BUSINESS TEXTING, AND UNLIMITED SUBSCRIBERS</h3>
    </div>
  </div>
  <div class="div-block-14">
    <div class="custom-cont">
      <div class="w-layout-grid grid-2">
        <div class="div-block-22">
          <div class="div-block-23 white"></div>
          <div class="div-block-15">
            <h2 class="heading-4">Standard</h2>
            <h4 class="heading-4 price"><span class="text-span-2">$</span>39<span class="text-span-3">/mo.</span></h4>
          </div>
          <div class="div-block-17">
            <h4 class="heading-5">Text Marketing</h4>
            <div class="feature-item"><img src="https://voxox.com/voxdirect/images/Plan-Icon-9.svg" alt="" class="image-6">
              <div class="feature-head">250 Text Marketing Credits <span class="text-span-4">/month</span><br></div>
            </div>
            <h4 class="heading-5 vm">Voice &amp; Messaging</h4>
            <div class="feature-item"><img src="https://voxox.com/voxdirect/images/Plan-Icon-8.svg" alt="" class="image-6">
              <div class="feature-head">1 Number Only<br></div>
            </div>
            <div class="feature-item"><img src="https://voxox.com/voxdirect/images/Plan-Icon-7.svg" alt="" class="image-6">
              <div class="feature-head">2 Extensions Only</div>
            </div>
            <div class="feature-item"><img src="https://voxox.com/voxdirect/images/Plan-Icon-6.svg" alt="" class="image-6">
              <div class="feature-head">1 Virtual Receptionist Only<br></div>
            </div>
            <div class="feature-item"><img src="https://voxox.com/voxdirect/images/Plan-Icon-4-Copy.svg" alt="" class="image-6">
              <div class="feature-head crossed">Business Hours</div>
            </div>
            <div class="feature-item"><img src="https://voxox.com/voxdirect/images/Plan-Icon-3-Copy.svg" alt="" class="image-6">
              <div class="feature-head crossed">Call Recording<span class="text-span-4"></span></div>
            </div>
            <div class="feature-item"><img src="https://voxox.com/voxdirect/images/Plan-Icon-2-Copy.svg" alt="" class="image-6">
              <div class="feature-head crossed">Custom Professional Greeting</div>
            </div>
            <div class="div-block-18"><a data-tippy-content="Unlimited Text Marketing Subscribers&lt;br&gt;Unlimited Text Marketing Subscriber Lists&lt;br&gt;Text Blast Scheduling&lt;br&gt;Unlimited Calling&lt;br&gt;Unlimited 1-to-1 Texting&lt;br&gt;
Mobile App&lt;br&gt;3-Way Calling&lt;br&gt;Call Transfer&lt;br&gt;Faxing&lt;br&gt;Voicemail Transcription" class="link plans tippy">All Plans Include</a></div>
            <a href="https://manage.voxdirect.com/signupvx?planCode=VOXDIRECT19_STANDARD&amp;promo=voxdirect19&amp;ref=/#/Distributor ReplicatedURL/#/&amp;commonId=/#/Distributor Common ID/#/&amp;undefined" class="button-2 plans standard w-button plan-button">Choose plan</a></div>
        </div>
        <div class="div-block-20">
          <div class="div-block-23">
            <h4 class="heading-7">BEST VALUE!</h4>
          </div>
          <div class="div-block-15 pro">
            <h2 class="heading-4">Pro</h2>
            <h4 class="heading-4 price"><span class="text-span-2">$</span>89<span class="text-span-3">/mo.</span></h4>
          </div>
          <div class="div-block-17 pro">
            <h4 class="heading-5">Text Marketing</h4>
            <div class="feature-item"><img src="https://voxox.com/voxdirect/images/Plan-Icon-9.svg" alt="" class="image-6">
              <div class="feature-head">1000 Text Marketing Credits<span class="text-span-4"> /month</span></div>
            </div>
            <h4 class="heading-5 vm">Voice &amp; Messaging</h4>
            <div class="feature-item"><img src="https://voxox.com/voxdirect/images/Plan-Icon-8.svg" alt="" class="image-6">
              <div class="feature-head">2 Numbers Only<br></div>
            </div>
            <div class="feature-item"><img src="https://voxox.com/voxdirect/images/Plan-Icon-7.svg" alt="" class="image-6">
              <div class="feature-head">5 Extensions Only<br></div>
            </div>
            <div class="feature-item"><img src="https://voxox.com/voxdirect/images/Plan-Icon-6.svg" alt="" class="image-6">
              <div class="feature-head">2 Virtual Receptionists Only<br></div>
            </div>
            <div class="feature-item"><img src="https://voxox.com/voxdirect/images/Plan-Icon-4.svg" alt="" class="image-6">
              <div class="feature-head">Business Hours</div>
            </div>
            <div class="feature-item"><img src="https://voxox.com/voxdirect/images/Plan-Icon-3.svg" alt="" class="image-6">
              <div class="feature-head">Call Recording<span class="text-span-4"></span></div>
            </div>
            <div class="feature-item"><img src="https://voxox.com/voxdirect/images/Plan-Icon-2-Copy.svg" alt="" class="image-6">
              <div class="feature-head crossed">Custom Professional Greeting</div>
            </div>
            <div class="div-block-18"><a data-tippy-content="Unlimited Text Marketing Subscribers&lt;br&gt;Unlimited Text Marketing Subscriber Lists&lt;br&gt;Text Blast Scheduling&lt;br&gt;Unlimited Calling&lt;br&gt;Unlimited 1-to-1 Texting&lt;br&gt;
Mobile App&lt;br&gt;3-Way Calling&lt;br&gt;Call Transfer&lt;br&gt;Faxing&lt;br&gt;Voicemail Transcription" class="link plans tippy">All Plans Include</a></div>
            <a href="https://manage.voxdirect.com/signupvx?planCode=VOXDIRECT19_PRO&amp;promo=voxdirect19&amp;ref=/#/Distributor ReplicatedURL/#/&amp;commonId=/#/Distributor Common ID/#/&amp;undefined" class="button-2 plans purple w-button plan-button">Choose plan</a></div>
        </div>
        <div class="div-block-21">
          <div class="div-block-23 white"></div>
          <div class="div-block-15 premier">
            <h2 class="heading-4">Premier</h2>
            <h4 class="heading-4 price"><span class="text-span-2">$</span>139<span class="text-span-3">/mo.</span></h4>
          </div>
          <div class="div-block-17 green">
            <h4 class="heading-5">Text Marketing</h4>
            <div class="feature-item"><img src="https://voxox.com/voxdirect/images/Plan-Icon-9.svg" alt="" class="image-6">
              <div class="feature-head _2">Starts at 2000 Credits<br><span class="spanny">Larger packages avail</span>‍<span class="text-span-4"> Larger packages available</span><br></div>
            </div>
            <h4 class="heading-5 vm">Voice &amp; Messaging</h4>
            <div class="feature-item"><img src="https://voxox.com/voxdirect/images/Plan-Icon-8.svg" alt="" class="image-6">
              <div class="feature-head">3 Numbers<br><span class="text-span-4">$5 each for additional numbers</span></div>
            </div>
            <div class="feature-item"><img src="https://voxox.com/voxdirect/images/Plan-Icon-7.svg" alt="" class="image-6">
              <div class="feature-head">Unlimited Extensions<br></div>
            </div>
            <div class="feature-item"><img src="https://voxox.com/voxdirect/images/Plan-Icon-6.svg" alt="" class="image-6">
              <div class="feature-head">Unlimited Virtual Receptionists<br></div>
            </div>
            <div class="feature-item"><img src="https://voxox.com/voxdirect/images/Plan-Icon-4.svg" alt="" class="image-6">
              <div class="feature-head">Business Hours</div>
            </div>
            <div class="feature-item"><img src="https://voxox.com/voxdirect/images/Plan-Icon-3.svg" alt="" class="image-6">
              <div class="feature-head">Call Recording<span class="text-span-4"></span></div>
            </div>
            <div class="feature-item"><img src="https://voxox.com/voxdirect/images/Plan-Icon-2.svg" alt="" class="image-6">
              <div class="feature-head">Custom Professional Greeting</div>
            </div>
            <div class="div-block-18"><a data-tippy-content="Unlimited Text Marketing Subscribers&lt;br&gt;Unlimited Text Marketing Subscriber Lists&lt;br&gt;Text Blast Scheduling&lt;br&gt;Unlimited Calling&lt;br&gt;Unlimited 1-to-1 Texting&lt;br&gt;
Mobile App&lt;br&gt;3-Way Calling&lt;br&gt;Call Transfer&lt;br&gt;Faxing&lt;br&gt;Voicemail Transcription" class="link plans tippy">All Plans Include</a></div>
            <a href="https://manage.voxdirect.com/signupvx?planCode=VOXDIRECT19_PREMIER&amp;promo=voxdirect19&amp;ref=/#/Distributor ReplicatedURL/#/&amp;commonId=/#/Distributor Common ID/#/&amp;undefined" class="button-2 plans green w-button plan-button">Choose plan</a></div>
        </div>
      </div>
    </div>
    <div class="div-block-19">
      <div class="custom-cont">
        <div class="w-layout-grid grid">
          <div class="extras"><img src="https://voxox.com/voxdirect/images/contract-icon.png" alt="" class="image-7">
            <h2 class="promise">No Contracts</h2>
            <p class="paragraph">We&#x27;re sure you&#x27;ll love Vox Direct so much that we don&#x27;t make you sign a long-term contract, you&#x27;re free to cancel anytime.</p>
          </div>
          <div class="extras"><img src="https://voxox.com/voxdirect/images/fees-icon.png" alt="" class="image-7">
            <h2 class="promise">No Hidden Fees</h2>
            <p class="paragraph">We believe in fair and transparent billing, you will never see surprise charges or fees on your bill. What you sign up for is what you pay, that&#x27;s it!</p>
          </div>
          <div class="extras"><img src="https://voxox.com/voxdirect/images/money.png" alt="" class="image-7">
            <h2 class="promise">Money-back Guarantee</h2>
            <p class="paragraph">We are confident that you are going to love and recommend Vox Direct! However, if for any reason at all you&#x27;re dissatisfied in the first 7 days we will completely refund your money - no questions asked.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


<!--  --------  --------  --------  -->

<!--  -------- FOOTER HERE -------------  -->
  <div style ="background-color: #999; padding: 50px 0; margin-bottom: -10px;">
    <div class="flex-container">
      <div class="layer-flex">
        <ul class="vox-social">
          <li><a href="//www.facebook.com/VoxDirect/"><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="//twitter.com/VoxDirect"><i class="fab fa-twitter"></i></a></li>
          <li><a href="//www.instagram.com/voxdirect/"><i class="fab fa-instagram"></i></a></li>
          <li><a href="//www.youtube.com/channel/UC40n6EZ6r2I3fOZVDv3CbFA  "><i class="fab fa-youtube"></i></a></li>
          <li><a href="//www.linkedin.com/company/36016246"><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="layer-flex">
        <div class="footer-items">
          <div class="foot-item"><a href="mailto:contact@voxdirect.com">Contact Us</a></div>
          <div class="foot-item"><a href="/Public-Privacy-Policy/">Privacy Policy</a></div>
          <div class="last foot-item"><a href="/Public-Terms-and-Conditions/">Terms and Conditions</a></div>
        </div>
      </div>
      <span id="ctl00_copyright_lblCopyright" class="copyright">Copyright © Vox Direct, LLC - All Rights Reserved</span></div>
    </div>
  </div>

<!--     -------- CLOSING BRACKET  --------   -->
</div>


<!--     -------- JS Scripts  --------   -->
<script>
tippy('.tippy', {             // Use class or id
  animation: 'scale',         // See docs for more options (there are a few nice ones 😉)
  duration: 200,              // Duration for ToolTip Animation
  arrow: true,                // Add ToolTip Arrow
  delay: [0, 50],             // First # = delay in, second # = delay out
  arrowType: 'sharp',         // Sharp or 'round' or remove for none
  theme: 'plans',             // Dark is the default
  maxWidth: 220,              // Max width in pixels for the tooltip
})
</script>


<!-- important for pricing to work -->
<script>
	function updateLinkWhenNotOnReplicatedSite() {
		if ( document.location.href.indexOf('Edit') == -1 ) {
			if ( document.cookie.indexOf('ReplicatedSiteUrl') == -1 ) {
				jQuery('.plan-button').attr('href','/Find-Consultant/?mitem=28232');
			}
		}
	}
	jQuery(document).ready(function(){
		updateLinkWhenNotOnReplicatedSite();
	});
</script>


<script>var index,value,result;var arr=document.cookie.split("; ");for(index=0;index<arr.length;++index){value=arr[index];if(value.substring(0,19)==="PRODUCTION_VOXOXINC"){result=value.split("PRODUCTION_VOXOXINC=")[1];break}}var a=document.querySelectorAll(".plan-button");for(var i=0;i<a.length;i++){a[i].href+="&"+result}</script>